blockquote {
    @apply m-0 border-l-2 border-gray-300 pl-3;
}

blockquote > p {
    margin: 0;
}

pre {
    @apply p-2 bg-gray-100 overflow-x-auto rounded-sm;
}

code {
    @apply bg-gray-100 font-mono p-2 text-gray-700 rounded-sm;
    font-family: 'Roboto Mono', monospace;
}

em {
    @apply italic;
}

.inline-code {
    @apply bg-gray-200 text-gray-900 rounded-sm text-sm px-1;
    font-family: "Roboto Mono", monospace;
}


.note, .statement {
    @apply font-light;
    font-family: 'Roboto', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

strong {
    @apply font-bold;
}

